<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Document</title>
	<style type="text/css" media="screen">
		#container {
			width: 800px;
			margin: 0 auto;
			font-family: Helvetica, Arial, sans-serif;
			font-size: 15px;
			line-height: 22px;
		}
	</style>
</head>
<body>
	<div id="container">
		<%= render_children(views, filter_results) %>
	</div>
</body>
</html>