<div id="index">
	<h2>Index</h2>
	
	<ul>
	<% filter_results[:indexfilter].each do |term_name,term| %>
		<li>
			<%= term_name %>
			<% unless term[:children].size > 0 %>
				<% term[:link_ids].each_with_index do |link_id, i| %>
					<a href="#<%= link_id %>" class="index-term-link">&nbsp;</a><% if i < term[:link_ids].size - 1 %>,<% end %>
				<% end %>
			<% end %>
			<% unless term[:children].empty? %>
				<ul>
					<% term[:children].each do |child_name,child| %>
						<li>
							<%= child_name %>
							<% child[:link_ids].each_with_index do |child_link_id, j| %>
								<a href="#<%= child_link_id %>" class="index-term-link">&nbsp;</a><% if j < child[:link_ids].size - 1 %>,<% end %>				<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</li>
	<% end %>
	</ul>

	<%#= filter_results[:indexfilter].inspect %>
	
</div>