<div class="list<%if @attributes["classname"]%> <%= @attributes["classname"]%><% end %>">
	<% if @title %>
		<h3><%= @title %></h3>
	<% end %>
	<ol <% if @style %>class="<%= @style %>"<% end %>>
		<% @children.each do |child| %>
			<li><%= child.render_children(views, filter_results) %></li>
		<% end %>
	</ol>
</div>